<div class="categories">
    <h3>Жанры</h3>
    <a href="">Главная</a>
    <a href="">Онлайн-кинотеатр</a>
    <a href="">Фильмы</a>
    <a href="">Сериалы</a>
    <a href="">Спорт</a>
    <a href="">Билеты в кино</a>
    <a href="">Медиа</a>
</div>