<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//db.onlinewebfonts.com/c/a1750a4dae8db954fdd595f313b3b34e?family=Graphik+Kinopoisk+LC+Web+SB" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="container">
        <div class="main">
            <div class="categories">
                <a href="">Главная</a>
                <a href="">Онлайн-кинотеатр</a>
                <a href="">Фильмы</a>
                <a href="">Сериалы</a>
                <a href="">Спорт</a>
                <a href="">Билеты в кино</a>
                <a href="">Медиа</a>
            </div>
            <div class="main-content">
                <div class="main-card">
                    <div class="card-left">
                        <div class="film-img">
                            <img src="" alt="">
                        </div>
                        <div class="film-info">
                            <a href="">Зеленая миля</a>
                            <a href="">The Green Mile, 1999, 189 мин.</a>
                            <a href="">США • драма  Режиссёр: Фрэнк Дарабонт</a>
                            <a href=""> В ролях: Том Хэнкс, Дэвид Морс</a>
                            <button class="film-btn">Смотреть</button>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="film-rate">
                            <p>9.2</p>
                        </div>
                        <button class="film-btn">
                            <img src="/images/icons/add.svg" alt="">
                            Буду смотреть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>