<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Document</title>
</head>
<body>
    <div class="container not-found-bg">
        <a href="/">
            <img src="/images/logo.svg" alt="">
        </a>
        <div class="not-found">
            <div class="not-found-left">
                <h1>404. Страница <br> не найдена</h1>
                <p>Возможно, она была перемещена, или вы просто <br> неверно указали адрес страницы.</p>
                <a href="/">Перейти на главную</a>
            </div>
            <div class="not-found-right">
                <video class="not-found-video" muted autoplay loop>
                    <source src="https://www.kinopoisk.ru/public/videos/errors/desktop/404/2.mp4">
                </video>
            </div>
        </div>
    </div>
</body>
</html>