header{
    padding: 20px 5%;
    background: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.head-logo{
    width: 10%;
}
.head-menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.head-menu a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.head-search{
    display: flex;
    align-items: center;
    background: #373737;
    border-radius: 5px;
    padding: 3px;
    width: 45%;
}
.head-search input{
    padding: 5px 7px;
    border: 0;
    outline: none;
    background: transparent; 
    width: 95%;
    color: #fff;
}
.head-search button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}
.head-search button>svg>path{
    fill: rgba(255, 255, 255, 0.6);
}
.head-buttons{
    display: flex;
    align-items: center;
}
.head-buttons a{
    text-decoration: none;
    color: white;
}
.head-buttons a:nth-child(1){
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 11px;
    padding: 10px 18px;
    border: 0;
    border-radius: 100px;
    background: linear-gradient(90deg,#ff5c4d,#eb469f 26.56%,#8341ef 75%,#3f68f9);
}
.head-buttons a:nth-child(2){
    padding: 0 16px;
    color:rgba(255,255,255,.6);
}